.side-bar {
  background-color: #393a44;
  min-width: 200px;
}

.navbar.main-navbar {
  background-color: #073642;
  min-width: 200px;
}

html {
  overflow-x: hidden;
}

body {
  background-color: darkgray;
  color: aliceblue;
  font-family: 'Helvetica', sans-serif;
  overflow-x: hidden;
}

/* Logo */
.header-logo {
  color: #e7e7e7;
  font-family: 'Helvetica', sans-serif;
  font-size: 100px;
  font-weight: bold;
  line-height: 50%;
  margin-bottom: 50px;
  margin-top: 120px;
  text-align: center;
  text-shadow: 0 .5rem 1rem rgba(0, 0, 0, .40);
}

.alert-danger {
  background-color: #e1000f;
  border: none;
  color: #ffffff;
}

.btn-primary {
  background-color: #b58900;
  border: #b58900;
}

.btn-secondary {
  background-color: #839496;
}

.btn-success {
  background-color: #2aa198;
  border: #2aa198;
}

.card {
  background-color: #1f424b;
}

.card-main {
  background-color: #1f424b;
  border-radius: 1.25rem;
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .30);
  max-width: 600px;
}

.card-body {
  background-color: #39575d;
  border: #1f424b;
}

.card-header {
  background-color: #2d4f57;
  border: #1f424b;
}

.card-text {
  color: rgb(231, 224, 224);
}

.form-control {
  background-color: #c3d3d3;
}

.form-select {
  display: block;
  width: 100%;
  padding: 0.375rem 2.25rem 0.375rem 0.75rem;
  color: #073642;
  background-color: #a9bdbd;
}

.padded {
  padding: 20px;
}

.plus-button {
  position: absolute;
  right: 10px;
  top: 10px;
}

.white-text {
  color: white !important
}

@media all and (min-width: 950px) {
  .logo {
      margin-right: 200px;
  }
}

@media all and (max-width: 550px) {
  .header-logo {
      font-size: 18.9vw;
  }
}